@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title</h2>

<address>
    Данила Шафранов<br />
    ИСТбд-41<br />
</address>

<address>
    <strong>E-Mail разработчика: </strong>   <a href="mailto:d.shafranov96@yandex.ru">d.shafranov96@yandex.ru</a><br />
</address>