@{
    ViewBag.Title = "Информационная система патронажной службы";
}

<div class="jumbotron">
    <h1>Информационная система патронажной службы</h1>
    <p class="lead">Автоматизированная информационная система патронажной службы приветствует вас! <br /> Перед редактированием данных рекомендуется ознакомиться с руководством пользователя.</p>
</div>

